.scoop{
    // utility
    // .text-center{
    //     text-align:center;
    // }



    // main
    .intro{
        .about{
            .name{
                font-weight:300;
                font-size:2.2rem;
                letter-spacing:2px;
                word-spacing:10px;
            }
            .role{
            font-weight:300;
            font-size:10px;
            padding:6px 0;
            letter-spacing:4px;
            }
        }

        .contacts{
            padding-top:10px;
            font-size: 10px;
            display:flex;
            gap:8px 25px;
            flex-wrap:wrap;
        }
    }


    // WORK XP & INTERESTS CONTAINER
    .container-grid{

        display:grid;
        grid-gap:15px;
        margin:25px 0;
        grid-template-columns: auto 150px;
        
        // nested utility
        .title{
            font-weight:600;
            letter-spacing:3px;
        }



        .exp{
            display:flex;
            gap:20px;
            margin:20px 0;
            font-size:12px;

            .full{
            flex:1
            }

            

            .job_title{
                font-weight:700;
                letter-spacing:3px;
                &.sch{
                    font-size:600;
                    padding:4px 0;
                }
            }

            .job_desc{
                padding:4px 0;
            }
        }

      




        .grid-col-2{
            margin:0 0 10px 0;
            .i_title{
                font-weight:500;
                letter-spacing:2px;
            }
            .interest{
                font-size:17px;
                padding:10px 0;
                ul{
                padding:5px 0;
                font-size: 12px;
                }
            }

            .ref{
                .REF{
                    padding:5px 0;
                }
                .r_name{
                   font-size:12px 
                }
                .text{
                    font-size:10px
                }
            }
        }

    }
}