.--primary-color{
    color:red;
}

.--primary-bg{
    background:red;
}


.--primary-border-color{
    border-color:red;
}

._block{
    display:block;
    margin:5px 0;
}


.small{
    font-size:10px
}




#page-not-found{
    position: relative;
    text-align: center;
    height:100vh;
    width:100%;
    // background:#ffe001;
    display:flex;
    justify-content:center;
    align-items:center;


    &>*{
        h4{
            font-size:2.3rem
        }
        hr{
            border:1px solid #fff;
            margin:6px 0;
            background:transparent;
        }
        p{
        font-size:10px;
        }
    }
}