
:root {
    --background-color: rgb(255, 255, 255);
    --foreground-color: rgb(0, 0, 0);
    --secondary-color: rgb(232, 232, 232);
    --accent-color: rgb(244, 9, 9);
    --accent-color-light:rgba(255, 0, 0, 0.275);
    --accent-foreground-color:#fff;
  
    --transparent: transparent;
    --shadow:rgba(0,0,0,0.2);
  
    --font-stack: "Georama", sans-serif;
  
  
    --fs-1:2.5rem;
    --icon-size: 20px;
  }
  