.colorful{
    position: relative;

    .header{
        display:flex;
        justify-content: space-around;
        gap:20px;

        .avatar{
            position:relative;
            width:200px;
            height:200px;
            background:#eee;
            flex-shrink: 0;
            border-radius:50%;
            .no-image{
                position: absolute;
                top:50%;
                left:50%;
                transform: translate(-50%,-50%);
                font-size:5rem;
                opacity:.5
            }
        }

        .name{
            align-self: flex-end;
            h1{
                font-size:2.5rem;
            }

            p{
                font-size:12px
            }

        }
    }


    .body{
        display:grid;
        grid-template-columns: 1fr 1fr;
        gap:10px;
        margin:20px 0;


        .body-side-lt{
            border-right-width: 2px;
            border-right-style: solid;
            height:100%;
            padding:20px 0;
        }
    }
}